
body {
   background: #000;
   color: #fff;
   margin-left: auto;
   font-family: sans-serif;
}

/* COMPONENTE HEADER Y NAVBAR */

.Header-header-container {
  display: flex;
  align-items: center;
  position: fixed;
  width: 600px;
  height: 80px;
}

@media (min-width: 1280px){
  .Header-header-container {
    width: 98vw;
  }
}

@media (min-width: 1024px) and (max-width: 1279px){
  .Header-header-container {
    width: 98vw;
  }
}

@media (min-width: 640px) and (max-width: 1023px){
  .Header-header-container {
    width: 98vw;
  }
}

.Header-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.Header-div-box {
  display: flex;
  margin-left: 240px;
  margin-top: 50px;
}

@media (min-width: 1280px) {
  .Header-div-box {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media (min-width: 640px) and (max-width: 1279px) {
  .Header-div-box {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.Header-button-menu-hamburguesa {
  visibility: visible;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff; 
  border-radius: 6px;
  border-width: 0px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;               
  cursor: pointer;
}

@media (min-width: 640px){
  .Header-button-menu-hamburguesa {
    visibility: hidden;
  }
}

.Header-button-menu-hamburguesa span { 
  display: block;
  width: 20px;            
  height: 1.5px;           
  background-color: #fff; 
  border-radius: 2px;
}

.Header-button-menu-hamburguesa:hover {
  border: #fff solid 1px; 
} 

.Header-button-menu-hamburguesa:active {
  background-color: #383737ff; 
}

.Header-button-link-contactame--visibility {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  border-radius: 8px;
  background: #fff;
  color: #000;
  text-decoration: none;
}

@media (min-width: 640px){
  .Header-button-link-contactame--visibility {
    visibility: visible;
  }
}

.Header-button-link-contactame--visibility:active {
  background: #c7c7c7ff;
}

/* COMPONENTE NAVBAR */
.Navbar-nav {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
} 


@media (min-width: 1280px){
  .Navbar-nav {
    visibility: visible;
    gap: 10px;
    margin-top: 8px;
    padding: 8px;
    background-color: #222;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    position: unset;
    scale: 1.3;
  }
}

@media (min-width: 640px) and (max-width: 1279px){
  .Navbar-nav {
    visibility: visible;
    position: unset;
    gap: 10px;
    margin-top: 8px;
    padding: 8px;
    background-color: #222;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    scale: 1.1;
  }
}

.Navbar-nav.menu-hamburguese {
  visibility: visible;
  background-color: #222;
  border-radius: 8px;
  padding: 6px;
}

@media (min-width: 640px) {
  .Navbar-nav.menu-hamburguese {
    display: flex;
    flex-direction: row;
  }
} 

.Navbar-link-contactame--visibility {
  display: inline-block;
}

@media (min-width: 640px){
  .Navbar-link-contactame--visibility {
    display: none;
  }
}

.Navbar-link--active, .Navbar-link-contactame--visibility, .Navbar-link {
  color: #606060ff;
  text-decoration: none;
  z-index: 1;
  padding-inline: 10px;
  padding-block: 4px;
}

.Navbar-link--active:hover, .Navbar-link-contactame--visibility:hover, .Navbar-link:hover {
  color: #fff;
}

.Navbar-div-box-white--active {
  position: absolute;
  border-radius: 5px;
  background: #fff;
  transition: all 0.3s ease;
  scale: 1;
}

/* COMPONENTE PERSON */
.Person-section {
  padding-top: 75px;
}

@media (min-width: 1280px){
  .Person-section {
    padding-top: 160px;
  } 
}

@media (min-width: 1024px) and (max-width: 1279px){
  .Person-section {
    padding-top: 140px;
  }
}

@media (min-width: 640px) and (max-width: 1023px){
  .Person-section {
    padding-top: 110px;
  }
}

.Person-div-container {
  display: grid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px; 
}

@media (min-width: 1280px){
  .Person-div-container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding-left: 32px;
    padding-right:32px;
    gap: 40px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px){
  .Person-div-container {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-left: 32px;
    padding-right:32px;
    gap: 30px;
  }
}

@media (min-width: 640px) and (max-width: 1023px){
  .Person-div-container {
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding-left: 32px;
    padding-right:32px;
    gap: 30px;
  }
}

.Person-div-box-text-buttons {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
  align-self: center;
}

@media (min-width: 1280px){
  .Person-div-box-text-buttons {
    justify-self: end;
  }
}

@media (min-width: 640px) and (max-width: 1279px){
  .Person-div-box-text-buttons {
    justify-self: end;
  }
}

@media (max-width: 800px) {
  .Person-div-display {
    justify-self: start;
    margin-left: 25px;  
  }
}
  
.Person-div-intro {
  display: flex;
  align-items: center;
}

.Person-avatar-box {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  overflow: hidden;
  margin-inline-end: 20px;
  margin-inline-start: 0;
}

.Person-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Person-div-text-availability {
  font-size: 15px;
  letter-spacing: 0.025em;
  color: #606060ff;
}

.Person-ping-container {
  display: inline-flex;
  position: relative;
  margin-right: 8px;
  width: 8px;
  height: 8px;
  background-color: #34d399;
  border-radius: 50%;
}

.Person-ping {
  position: absolute;
  inset: 0;
  background-color: #34d399;
  border-radius: 50%;
  animation: Person-ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes Person-ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.Person-h2-headline {
  max-width: 20ch;     
  margin-top: 3px;
  margin-bottom: 32px;
  font-size: 25px;          
  line-height: 1.25;        
  font-weight: 600;         

  background: -webkit-linear-gradient(0deg, #fafafa, #a1a1aa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1280px) {
  .Person-h2-headline {
    max-width: 13ch;   
    margin-bottom: 40px;
    font-size: 50px;
    line-height: 1.15;
  }
}

@media (min-width: 1024px) and (max-width: 1279px){
  .Person-h2-headline {
    max-width: 15ch;   
    margin-bottom: 30px;
    font-size: 42px;
    line-height: 1.15;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .Person-h2-headline {
    max-width: 20ch;  
  }
}

.Person-buttons-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ButtonPrimary {
  height: 44px;
  border: none;
  border-radius: 12px; 
  background-color: #38bdf8;
  color: #000;
  padding-inline: 10px;
}

.ButtonPrimary:hover {
  background-color: #7dd3fc;
  cursor: pointer;
}

.ButtonPrimary:active {
  background-color: #38bdf8; 
}

.ButtonOutline {
  height: 44px;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  font-family: system-ui;
  font-size: 14px;
  background-color: #27272a;;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-inline: 10px;
}

.ButtonOutline:hover {
  background-color: #3f3f46;
}

.ButtonOutline:active {
  background-color:  #27272a;
}

.Button-icon {
  font-size: 18px;
  padding-left: 5px;
}

.Person-photo-box {
  display: none;
} 

@media (min-width: 1280px) {
  .Person-photo-box {
    display: block;
    grid-area: 1 / 2 / 2 / 3;
    justify-self: start;
    width: 350px;
  }

  .Person-img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1279px){
  .Person-photo-box {
    display: block;
    grid-area: 1 / 2 / 2 / 3;
    justify-self: start;
    width: 300px;
  }

  .Person-img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 640px) and (max-width: 1023px){
  .Person-photo-box {
    display: block;
    grid-area: 1 / 2 / 2 / 3;
    justify-self: start;
    width: 220px;
  }

   .Person-img {
    width: 100%;
    height: 100%;
  }
}

.Person-figure-background {
  width: 100%;
  border-radius: 60px;
  overflow: hidden;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  background-image: -webkit-linear-gradient(
    top,
    #38bdf8 0%,                  
    rgba(56, 189, 248, 0.4) 25%, 
    #000000ff 65%                  
  );

  background-image: linear-gradient(
    to top,
    #38bdf8 0%,
    rgba(56, 189, 248, 0.4) 25%,
    #000000ff 65%
  );
}

/* COMPONENTE PROJECT */
.Project-div-container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 640px) {
  .Project-div-container {
    max-width: 615px;
  }
}

 @media (min-width: 1024px) {
  .Project-div-container {
    max-width: 900px;
  }
}

.Project-div-grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  place-content: center;
  gap: 30px;
}

.ProjectCard-div-card {
  height: 350px;
  position: relative;
  padding: 10px;
  border-radius: 16px;
  background-color: #222;
  box-shadow: inset 0 0 0 .1px;
  cursor: pointer;
}

.ProjectCard-div-card:hover {
  color: #3F3F4680;
}

.ProjectCard-div-card:active {
  background-color: #3F3F4699;
}

.ProjectCard-figure {
  height: max-content;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}

.ProjectCard-img {
  border-radius: 8px;
  width: 100%;
}

.ProjectCard-div-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.ProjectCard-h3 {
  font-weight: normal;
  font-size: 22px;
}












 


