#root {
  background: /* #ff92acff */ black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px repeat(3, 400px);
  min-height: 100vh;
  outline: dashed 2px black;
  grid-template-areas: /* Disposición para filas y columnas de acuerdo a los nombres creados de las clases  */
    "header header header header"
    "aside aside aside aside"
    "projects projects projects projects"
    "contact contact contact conatact" 
}

/* Disposición de los elementos del navbar */
.Header-bg-ga-center-oul-br-p {
  background: #62484866;
  grid-area: 1/2/2/4;
  justify-self: center;
  align-self: center;
  outline: dashed 2px black;
  border-radius: 8px;
  padding: 10px;
}

.Header-link-c-td-m {
  color: #707070ff;
  text-decoration: none;
  margin: 20px;
}

.Header-link-c-td-m:hover {
  color: #fff;
}

.Header-bg-ga-right-oul-br-p {
  background: blue;
  grid-area: 1/4/2/5;
  justify-self: center;
  align-self: center;
  outline: dashed 2px black;
}

.Header-link-c-td-m--negro {
  color: red;
}

.Header-bg-ga-left-oul-br-p {
  background: blue;
  grid-area: 1/1/2/2;
  justify-self: center;
  align-self: center; 
  outline: dashed 2px black;
} 

/* .posicion-link-formulario {
  background: blue;
  grid-area: 1/4/2/5;
  justify-self: center;
  align-self: center;
  outline: dashed 2px black;
} */

/* Disposición de los elementos en el aside */

.disposicion-experiencia {
  background: blue;
  grid-area: 2/2/3/3; /* posiciona los elementos en lacuadrícula especificada */
  outline: dashed 2px black;
}

.disposicion-foto {
  background: blue;
  grid-area: 2/3/3/4; /* posiciona la foto en la cuadrícula especificada */
  outline: dashed 2px black;
}

.projects {
    grid-area: projects;
    outline: dashed 2px black;
}

.contact {
    grid-area: contact;
    outline: dashed 2px black;
}

/* Apariencia elementos navbar */

.link-n {
  color: black; 
}

.estilos-enlace-formulario {
  color: red;
}

h1, h3, h4, small {
  color: white;
  font-family: sans-serif;
}

