#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 500px 500px 400px;
  outline: dashed 1px red;

}

#root .layout {
  outline: dashed 1px yellow;

} 

body {
  background-color: black;
}

h1, h3, h4, small {
  color: white;
  font-family: sans-serif;
}

